/*BODY ---------------------------------------------------------------------------- */
body {
    padding: 0;
    font-family: 'Saira Extra Condensed',sans-serif;
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    
}

html {
    height: 100%;
    background-color: #212121;
}

/*NAVIGATION -----------------------------------------------------------------------*/
.topnav{
    background-color: #ededed;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: inherit;
    z-index: 5;
}

.topnav a{
    float: right;
    color: #080808;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Iceland',sans-serif;
    font-weight: 600;
}

.topnav a:hover{
    background-color: #272727;
    color: #ededed;
    
}

.topnav a.active{
    background-color: #8F0b13;
    color: #ededed;
}

.topnav a:first-child {
    margin-right: auto; /* Push the first item to the left */
}

.topnav .icon {
    display: none; /*hide the menu link*/
  }

.topnav .supportButton {
    color: #8F0b13;
}

.logo {
    width: 80px; /* Adjust the width of logo*/
    height: auto; 
}

.logo-container {
    position: absolute; /* Position the container absolutely within the navigation bar */
    left: 10px; /* Adjust the left position as needed */
    top: 50%; /* Position the container vertically in the middle of the navigation bar */
    transform: translateY(-50%); /* Adjust vertical alignment */
}




@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

/*CURTAIN MENU */

.overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.92); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
}

.overlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Saira Extra Condensed',sans-serif;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #838383;
    display: block; /* Display block instead of inline */
    transition: 0.3s;    
    
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;    
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


/*BOTTOM SECTION*/
.bottom {
    text-align: center;
    background-color: #ededed; /* Background color of the media section */
    padding-top: 20px;
    color: #080808; /* Text color */
    height: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;

}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bottom-column {
    flex: 1;
    margin: 10px;
}

.media-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 230px;
}

.media-item img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.media-item-text p {
    margin: 0;
    text-align: left;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
;
}

.copyable-text {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.copyable-text::after {
    content: "Panoya kopyalamak için tıklayın";
    font-size: 15px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #777777;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.copyable-text:hover::after {
    opacity: 1;
}


.text-item {
    margin-bottom: 20px;
    text-align: center;
}

.text-item a:hover {
    color: #ac1b1a;
    background-color: #dedede;
    border-radius: 2px;
}

.text-item a {
    color: #ac1b1a;
    font-size: 18px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 100px;
}

.social-media a:last-child {
    margin-right: 0;
}

.custom-icon {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    transition: filter 0.2s ease;
}

.custom-icon:hover {
    filter: invert(100%);
}

.bottom-column .social-media {
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom-column .social-media a {
    width: calc(33.33% - 20px); /* Three items per row with margin */
    margin: 5px;
    text-align: center;
}




.elmocontainer {
    width: 100%; /* Ensure it takes full width */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 5px; /* Space above the image */
}

/* Style for the image at the bottom of the media section */
.bottomelmo {
    max-width: 100px; /* Limit the maximum width of the image */
    height: auto; /* Maintain the aspect ratio */
}

@media (max-width: 1000px) {
    .items {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .bottom-column {
        margin: 10px 0; /* Reduce margin for bottom columns */
    }

    .media-item {
        margin-left: 0; /* Remove left margin for media items */
        justify-content: center; /* Center align items */
    }

    .social-media {
        margin-right: 0; /* Remove right margin for social media */
        flex-wrap: wrap; /* Allow wrapping of items */
    }

    .social-media a {
        margin: 10px; /* Add margin for spacing */
    }
}
